<div #container class="container">
  <img [src]="backgroundImageSrc" style="height:75vh; min-height: 640px;" />
  <div class="architect-main">
    <div class="name">Carolina Figuereido</div>
    <div class="surname">Marques da Pereira</div>
  </div>
  <div class="architect-other-details">
    <div class="dni">77885544Z</div>
    <div class="college-number-label">
      Nº Col·legiat: <span class="college-number-value">1958423-D</span>
    </div>
    <div class="jurisdiction-label">
      Demarcació: <span class="jurisdiction-value">Barcelona</span>
    </div>
  </div>
</div>
